<!DOCTYPE html>
<html>
  <head>
    <title> Iniciar Sesi칩n </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Iniciar Sesi칩n</h1>
    <form action="/login" method="POST">

        <label>Correo Electr칩nico:</label>
        <input name="email" type="email" />

        <label>Contrase침a: </label> 
        <input name="password" type="password" />

        <button type="submit"> Confirmar </button>

    </form>
  </body>
</html>
