<!DOCTYPE html>
<html>
  <head>
    <title> Registro a la plataforma </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Formulario de Registro</h1>
    <form action="/registro" method="POST">

        <label>Correo Electrónico:</label>
        <input name="email" type="email" />

        <label>Nombre:</label>
        <input name="username" type="text" />

        <label>Contraseña: </label> 
        <input name="password" type="password" />

        <button type="submit"> Confirmar </button>

    </form>
  </body>
</html>
